numpy~=1.17
pandas~=0.25
elasticsearch~=7.7
requests~=2.22
whoswho~=0.2
nltk~=3.4
gensim~=3.8
spacy~=2.2
scikit-learn~=0.21
textpipe~=0.11
minimock
stop_words
regex
matplotlib
community
networkx
scipy
